<%= stylesheet_link_tag "new_appointment", "data-turbo-track": "reload" %>


<div class="container lab-page-container">

  <%= render 'shared/previous_button', path: patient_samples_path %>

  <h1 class="lab-page-title">Update Patient Status</h1>

  <%= form_with model: @appointment,
                url: patient_sample_path(@appointment),
                method: :put do |f| %>

    <div class="new-form-group">
      <%= f.label :status, "Update Status" %>
      <%= f.select :status, ["pending", "in progress", "completed"], {}, class: "form-control" %>
    </div>

    <%= f.submit "Update Status", class: "primary-btn new-form-btn" %>
  <% end %>
</div>