<h3><%= @user.address ? 'Update Address Details' : 'Create Address' %></h3>

<%= form_with model: (@user.address || Address.new), url: @user.address ? address_path(@user.address) : addresses_path, method: @user.address ? :put : :post do |f| %>
  <div>
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div>
    <%= f.submit @user.address ? "Update Address Details" : "Create Address" %>
  </div>
<% end %>