<%= stylesheet_link_tag "user_profile", "data-turbo-track": "reload" %>

<div class="container user-form">
  <div class="user-form-container">
    <%= form_with model: (@user.lab || Lab.new),
                  url: @user.lab ? lab_path(@user.lab) : labs_path,
                  method: @user.lab ? :put : :post,
                  html: { class: "user-details-form" } do |f| %>

      <h3 class="section-heading lab-patient-form-heading">
        <%= @user.lab ? 'Update Lab Details' : 'Create Lab' %>
      </h3>

      <div class="user-field-group">
        <div class="user-profile-field">
          <%= f.label :name, "Lab Name" %>
          <%= f.text_field :name %>
        </div>

        <div class="user-profile-field">
          <%= f.label :email, "Lab Email" %>
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="user-profile-field">
        <%= f.label :phone, "Lab Phone" %>
        <%= f.telephone_field :phone %>
      </div>

      <div>
        <%= f.submit @user.lab ? "Update Lab Details" : "Create Lab" , class: "primary-btn"%>
      </div>
    <% end %>
  </div>
</div>