<%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
<nav>
  <div class="container navbar">
    <div class="navbar-logo">
      <%= image_tag "logo.png", alt: "logo", class: "logo" %>
    </div>

    <input type="checkbox" id="hamburger-checkbox" class="hamburger-checkbox">

    <label for="hamburger-checkbox" class="hamburger-lines">
      <span class="hamburger-line-1"></span>
      <span class="hamburger-line-2"></span>
      <span class="hamburger-line-3"></span>
    </label>

    <ul class="menu-items">
      <% if current_user && current_user.has_role?(:patient) %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", "/#about" %></li>
        <li><%= link_to "Schedule Appointment", "/patient_appointments" %></li>
        <li><%= link_to "Service Map", "/service-map" %></li>
        <li><%= link_to "Contact Us", "#" %></li>
      <% else %>
        <li><%= link_to "Patient Samples", "/patient_samples" %></li>
        <li><%= link_to "Manage Agents", "/agents" %></li>
        <li><%= link_to "Manage Reports", "/" %></li>
      <% end %>

      <% if current_user %>
        <li class="user-name-dropdown">
          <label for="dropdown-toggle" class="user-name"><%= current_user.first_name %></label>
          <input type="checkbox" id="dropdown-toggle" class="dropdown-checkbox">
          <ul class="dropdown-menu">
            <li><%= link_to "Edit Profile", profile_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
