<%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
<nav>
  <div class="container navbar">
    <div class="navbar-logo">
      <%= image_tag "logo.png", alt: "logo", class: "logo" %>
    </div>
    <% if current_user && current_user.has_role?(:patient) %>
      <ul class="menu-items">
        <a href="/"> <li>Home</li></a>
        <a href="/#about"><li>About Us</li></a>
        <a><li>Schedule an appointment</li></a>
        <a><li>Service Map</li></a>
        <a><li>Contact Us</li></a>
      </ul>
    <% else %>
      <ul class="menu-items">
        <a href="/"> <li>Patient Samples</li></a>
        <a href="/agents"><li>Manage Agents</li></a>
        <a href="/"><li>Manage Reports</li></a>
      </ul>
    <% end %>
    <div class="user-menu" id="userMenu">
      <% if current_user %>
        <span class="user-name" id="userName">
          <%= current_user.first_name %>
        </span>
        <div class="user-menu-dropdown" id="userMenuDropdown">
          <%= link_to "Edit Profile", profile_path %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
        </div>
      <% else %>
        <span class="user-name">
          <%= link_to "Login", new_user_session_path %>
        </span>
      <% end %>
    </div>
  </div>
</nav>