<h1>Your Profile</h1>

<% if @user.has_role?(:lab) %>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Phone: <%= @user.phone %></p>
<% else %>
  <p>First Name: <%= @user.first_name %></p>
  <p>Last Name: <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Phone: <%= @user.phone %></p>
  <p>Date of Birth: <%= @user.dob %></p>
  <p>Gender: <%= @user.gender %></p>
  <p>Blood Group: <%= @user.blood_group %></p>
<% end %>

<p>Your role: <%= @user.has_role?(:lab) ? "Lab" : "Patient" %></p>

<%= link_to 'Back to Home', root_path %>

<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>