<%= stylesheet_link_tag "auth", media: "all", "data-turbo-track": "reload" %>
<div class="form-container">
  <div class="auth-form">
    <h1>Login</h1>

<!--    <div class="form-messages">-->
<!--      <p class="notice"><%#= notice %></p>-->
<!--      <p class="alert"><%#= alert %></p>-->
<!--    </div>-->

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="form-field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <%= f.submit "Log in", class: "primary-btn" %>
    <% end %>

    <%= link_to "Forgot your password?", new_user_password_path, style: "margin: 10px 0" %>
    <a href="/users/sign_up" class="form-navigator">Don't have an account ? <span>Register</span></a>

  </div>
  <div class="auth-image-container">
    <%= image_tag "auth_img.png", alt: "Description", class: "image-class" %>
  </div>
</div>