<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>

<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, autocomplete: "email" %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "current-password" %>

  <div>
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>