<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blood Collection" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<!--        <p class="notice"><%#= notice %></p>-->
<!--        <p class="alert"><%#= alert %></p>-->

    <% unless controller_name == 'sessions' || controller_name == 'registrations' %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>

    <% unless controller_name == 'sessions' || controller_name == 'registrations' || (current_user && current_user.has_role?(:lab)) %>
      <%= render 'shared/footer' %>
    <% end %>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google_maps_api_key] %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>
  </body>
</html>
